<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Роботы</title>
</head>
<body>
	<div> 
<table border=1 id="robots">
<tr>
	<th>robot_id</th>
	<th>owner_user_id</th>
	<th>parent_robot_id</th>
	<th>is_favourite</th>
	<th>is_active</th>
	<th>ticker</th>
	<th>buy_price</th>
	<th>sell_price</th>
	<th>plan_start</th>
	<th>plan_end</th>
	<th>plan_yield</th>
	<th>fact_yield</th>
	<th>deals_count</th>
	<th>activated_at</th>
	<th>deactivated_at</th>
	<th>created_at</th>
</tr>
	{{range $key, $value := . }}
<tr id=robot{{$value.RobotID}}>
		<td>{{$value.RobotID}}</td>
		<td>{{$value.OwnerUserID}}</td>
		<td>{{$value.ParentRobotID}}</td>
		<td>{{$value.IsFavourite}}</td>
		<td>{{$value.IsActive}}</td>
		<td>{{$value.Ticker}}</td>
		<td>{{$value.BuyPrice}}</td>
		<td>{{$value.SellPrice}}</td>
		<td>{{$value.PlanStart}}</td>
		<td>{{$value.PlanEnd}}</td>
		<td>{{$value.PlanYield}}</td>
		<td>{{$value.FactYield}}</td>
		<td>{{$value.DealsCount}}</td>
		<td>{{$value.ActivatedAt}}</td>
		<td>{{$value.DeactivatedAt}}</td>
		<td>{{$value.CreatedAt}}</td>
</tr>
{{end}}
</table>
</div>
<script>
    ws = new WebSocket('ws://localhost:5000/ws');

    ws.onopen = function() {
    	ws.send(window.location.href)
    };

    ws.onmessage = function(evt) {
        var obj = JSON.parse(evt.data)
		var values = Object.values(obj)
		var robot_id = obj.robot_id
		var row = document.getElementById('robot' + robot_id)
		if(!!!row)
			return
		var cells = row.getElementsByTagName('td')

	/*	for (let [key, value] of Object.entries(obj)) {
		alert(`${key}: ${value}`);
		} */
		
		for(i=0, len=cells.length; i<len;i++){
			cells[i].innerHTML = values[i].toString()
			//cells[i].textContent = values[i].toString()
		}
    };
</script>
</body>
</html>